# 1.0 Data preparation

In [1]:
import numpy as np
import pandas as pd
import math
import base64

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [3]:
# Read the data file and take a look at the data
df = pd.read_csv('../data/raw/bal_sheet_data/balance_sheet.csv')
df.head()

,Unnamed: 0,CERT,ASSET,LIABEQ,LIAB,EQ,EQCS,EQPP,SUBLLPF,EQCTRSTX
0,0,628.0,2.870383e+09,2.870383e+09,2.609122e+09,261192000.0,2028000.0,0.0,313000.0,0.0
1,1,3510.0,2.157008e+09,2.157008e+09,1.943133e+09,213865000.0,3020000.0,0.0,1937000.0,0.0
2,2,6384.0,4.574542e+08,4.574542e+08,4.111985e+08,46247139.0,240060.0,0.0,5450699.0,0.0
3,3,9846.0,4.880160e+08,4.880160e+08,4.232340e+08,64676000.0,24000.0,0.0,5156000.0,0.0
4,4,3511.0,1.750196e+09,1.750196e+09,1.580318e+09,169844000.0,519000.0,0.0,12454000.0,0.0

In [4]:
df.columns

Index(['Unnamed: 0', 'CERT', 'ASSET', 'LIABEQ', 'LIAB', 'EQ', 'EQCS', 'EQPP',
       'SUBLLPF', 'EQCTRSTX'],
      dtype='object')

In [5]:
df = df.drop(columns=["Unnamed: 0"])

In [6]:
# Rename column names with underscores
# columns_dict = {"":"",
#                "":""
#               }
# df = df.rename(columns=columns_dict)
df.columns

Index(['CERT', 'ASSET', 'LIABEQ', 'LIAB', 'EQ', 'EQCS', 'EQPP', 'SUBLLPF',
       'EQCTRSTX'],
      dtype='object')

In [7]:
df.head()

,CERT,ASSET,LIABEQ,LIAB,EQ,EQCS,EQPP,SUBLLPF,EQCTRSTX
0,628.0,2.870383e+09,2.870383e+09,2.609122e+09,261192000.0,2028000.0,0.0,313000.0,0.0
1,3510.0,2.157008e+09,2.157008e+09,1.943133e+09,213865000.0,3020000.0,0.0,1937000.0,0.0
2,6384.0,4.574542e+08,4.574542e+08,4.111985e+08,46247139.0,240060.0,0.0,5450699.0,0.0
3,9846.0,4.880160e+08,4.880160e+08,4.232340e+08,64676000.0,24000.0,0.0,5156000.0,0.0
4,3511.0,1.750196e+09,1.750196e+09,1.580318e+09,169844000.0,519000.0,0.0,12454000.0,0.0

In [8]:
strings = list(df.dtypes[df.dtypes == 'object'].index)
strings

[]

In [9]:
df.isnull().sum()

CERT        0
ASSET       0
LIABEQ      0
LIAB        0
EQ          0
EQCS        0
EQPP        0
SUBLLPF     0
EQCTRSTX    0
dtype: int64

In [11]:
df.to_csv('../data/cleaned/bal_sheet_data/bal_sheet_data.csv', encoding="utf-8")