# Enriching PPP Originating Lender Data by adding Financial Data

In [1]:
import pandas as pd
# Uncomment to display all columns
# pd.set_option('display.max_columns', None)

In [2]:
# Reading PPP Dataset
PPP_df = pd.read_csv('../data/interim/PPP_concatenated.csv')

C:\Users\amarq\AppData\Local\Temp\ipykernel_6680\2094448752.py:2: DtypeWarning: Columns (17,51) have mixed types. Specify dtype option on import or set low_memory=False.
  PPP_df = pd.read_csv('../data/interim/PPP_concatenated.csv')

In [3]:
PPP_df.describe(include='all')

,Unnamed: 0,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
count,1.146048e+07,1.146048e+07,11460475,1.146045e+07,11460475,11460417,11460259,11460269,11460311,11460279,...,11458203,1.146045e+07,11460448,11460448,11460448,11460475,11460475,271351,1.054566e+07,10545657
unique,NaN,NaN,247,NaN,2,8787378,9327268,75616,58,5032923,...,25,NaN,4675,3045,55,3,3,1,NaN,610
top,NaN,NaN,05/01/2020,NaN,PPP,FIRST UNITED METHODIST CHURCH,PO BOX,Chicago,CA,10001,...,Sole Proprietorship,NaN,"Bank of America, National Association",CHARLOTTE,CA,Unanswered,Unanswered,Y,NaN,06/15/2021
freq,NaN,NaN,800436,NaN,8606721,650,579,154049,1266553,3261,...,3448928,NaN,491035,609271,1043525,6989596,7687393,271351,NaN,197195
mean,4.448196e+05,5.464358e+09,NaN,5.694412e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.967877e+05,NaN,NaN,NaN,NaN,NaN,NaN,7.179351e+04,NaN
std,2.600810e+05,2.570782e+09,NaN,2.429575e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.022655e+05,NaN,NaN,NaN,NaN,NaN,NaN,2.620006e+05,NaN
min,0.000000e+00,1.000007e+09,NaN,1.010000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.000000e+01,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e-02,NaN
25%,2.203930e+05,3.259393e+09,NaN,4.050000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.110900e+04,NaN,NaN,NaN,NaN,NaN,NaN,9.483360e+03,NaN
50%,4.407870e+05,5.451199e+09,NaN,5.080000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.489400e+04,NaN,NaN,NaN,NaN,NaN,NaN,2.086644e+04,NaN
75%,6.666430e+05,7.654719e+09,NaN,7.610000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4.567560e+05,NaN,NaN,NaN,NaN,NaN,NaN,4.393181e+04,NaN
max,9.648420e+05,9.999009e+09,NaN,9.030000e+03,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.334790e+05,NaN,NaN,NaN,NaN,NaN,NaN,1.027658e+07,NaN

## Getting Originating Lenders

In [4]:
# Aggregating Originating Lender Data

lenders_df = PPP_df.groupby(['OriginatingLender','OriginatingLenderLocationID', 'OriginatingLenderCity','OriginatingLenderState']).agg({'CurrentApprovalAmount':['sum'], 'ForgivenessAmount': ['sum']}).reset_index().sort_values(by=('CurrentApprovalAmount', 'sum'),ascending=False)
lenders_df.columns = lenders_df.columns.get_level_values(0)
lenders_df['ForgivnessPct'] = lenders_df.ForgivenessAmount / lenders_df.CurrentApprovalAmount

lenders_df.head(20)

,OriginatingLender,OriginatingLenderLocationID,OriginatingLenderCity,OriginatingLenderState,CurrentApprovalAmount,ForgivenessAmount,ForgivnessPct
2639,"JPMorgan Chase Bank, National Association",48270.0,COLUMBUS,OH,4.155256e+10,3.969874e+10,0.955386
352,"Bank of America, National Association",9551.0,CHARLOTTE,NC,3.441198e+10,3.229566e+10,0.938501
3351,"PNC Bank, National Association",44449.0,WILMINGTON,DE,1.732153e+10,1.676388e+10,0.967806
4835,Truist Bank,225134.0,CHARLOTTE,NC,1.620756e+10,1.586202e+10,0.978680
5095,"Wells Fargo Bank, National Association",12096.0,SIOUX FALLS,SD,1.377771e+10,1.308613e+10,0.949804
2895,Manufacturers and Traders Trust Company,46391.0,BUFFALO,NY,1.331030e+10,1.309453e+10,0.983789
1273,Cross River Bank,456756.0,TEANECK,NJ,1.289467e+10,1.058034e+10,0.820520
4149,"TD Bank, National Association",29805.0,WILMINGTON,DE,1.226683e+10,1.177511e+10,0.959914
2701,KeyBank National Association,56102.0,CLEVELAND,OH,1.112082e+10,1.074233e+10,0.965965
4575,The Huntington National Bank,57328.0,COLUMBUS,OH,1.109542e+10,1.081635e+10,0.974848
4857,"U.S. Bank, National Association",53803.0,CINCINNATI,OH,1.081495e+10,1.031159e+10,0.953457
310,BMO Harris Bank National Association,21442.0,CHICAGO,IL,1.034915e+10,1.000666e+10,0.966906
5200,"Zions Bank, A Division of",72601.0,SALT LAKE CITY,UT,9.879292e+09,9.480214e+09,0.959605
2421,"Harvest Small Business Finance, LLC",509316.0,Laguna Hills,CA,8.186742e+09,5.945594e+09,0.726247
1670,Fifth Third Bank,58036.0,CINCINNATI,OH,7.356474e+09,7.069716e+09,0.961020
923,"Citizens Bank, National Association",434162.0,PROVIDENCE,RI,7.330444e+09,7.079573e+09,0.965777
3588,"Prestamos CDFI, LLC",188361.0,Phoenix,AZ,6.849918e+09,5.524672e+09,0.806531
3676,Regions Bank,2408.0,BIRMINGHAM,AL,6.418896e+09,6.185646e+09,0.963662
1289,Customers Bank,121536.0,PHOENIXVILLE,PA,6.330322e+09,5.553055e+09,0.877215
737,"Capital Plus Financial, LLC",529472.0,Bedford,TX,6.213416e+09,5.000872e+09,0.804851

## TODO: Getting Balance Sheet Data from FDIC API

In [6]:
lender_list = list(lenders_df.copy()['OriginatingLender'])

def get_balance_sheet_from_lender_name(lender_name):
    # TODO: call https://banks.data.fdic.gov/docs/#/Financials/getFinancials API to get balance sheet data points
    pass 

def enrich_lender_list_with_balance_sheets(lender_list):
    lender_balance_sheets = pd.DataFrame() # TODO: Define columns
    
    for lender in lender_list:
       lender_balance_sheets.append(get_balance_sheet_from_lender_name(lender))

    return lender_balance_sheets

# lender_list_with_balance_sheets = enrich_lender_list_with_balance_sheets(lender_list)

## TODO: Getting Stock Data using company name

### Getting CIK identifier

In [7]:
# Testing getting cik
# TODO: Return all cik's if SEC returns multiple matches (multiple search currently fails)

import requests
from bs4 import BeautifulSoup

def get_cik_from_company_name(company_name):
    
    # Setting up request
    url = "https://www.sec.gov/cgi-bin/browse-edgar"
    params = {
        'company': company_name,
        'match': 'contains',
        'owner': 'exclude',
    }
    headers = {
        'User-Agent' : '' # SEC expects '[Name] [Email]' on this header per SEC developer's policy https://www.sec.gov/os/webmaster-faq#developers
    }
    

    # Sending request and parsing
    response = requests.get(url, params=params, headers=headers)
    parsable = BeautifulSoup(response.text, 'html.parser')
    cik_element = parsable.find('acronym', string='CIK')
    cik = cik_element.cik = cik_element.find_next_sibling('a').text if cik_element else None if cik_element else None

    return cik

# Testing the function
get_cik_from_company_name('GOLDMAN SACHS BANK AG')

'0001098457 (see all company filings)'

In [8]:
# Searching ticker names 

from alpha_vantage.timeseries import TimeSeries

API_KEY = '' # Claim free API Key here https://www.alphavantage.co/support/#api-key

ts = TimeSeries(key=API_KEY)
data, metadata = ts.get_symbol_search('JPMorgan Chase')

data

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,CMC.DEX,JPMorgan Chase & Co,Equity,XETRA,08:00,20:00,UTC+02,EUR,0.8485
1,CMC.FRK,JPMorgan Chase & Co,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.8485
2,JPMC34.SAO,JPMorgan Chase & Co,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.8485
3,CMCI.FRK,JPMORGAN CHASE CO. CDR,Equity,Frankfurt,08:00,20:00,UTC+02,EUR,0.7778
4,AMJ,JPMorgan Chase & Company,ETF,United States,09:30,16:00,UTC-04,USD,0.7368
5,JMPRP,JPMorgan Chase & Company,Equity,United States,09:30,16:00,UTC-04,USD,0.7368
6,JPM,JPMorgan Chase & Company,Equity,United States,09:30,16:00,UTC-04,USD,0.7368
7,JPMML,JPMorgan Chase & Company,Equity,United States,09:30,16:00,UTC-04,USD,0.7368
8,JPM-P-C,JPMorgan Chase & Company,Equity,United States,09:30,16:00,UTC-04,USD,0.7368
9,JPM-P-D,JPMorgan Chase & Company,Equity,United States,09:30,16:00,UTC-04,USD,0.7368

In [ ]:
# TODO: use yfinance library to pull stock data given tickers are provided

## Other: EDA

In [9]:
# What is the percentage of $ value lent that is forgiven?
grp = PPP_df[['CurrentApprovalAmount','ForgivenessAmount']].agg(['sum']).reset_index()
grp['ForgivnessPct'] = grp.ForgivenessAmount / grp.CurrentApprovalAmount
grp

  index  CurrentApprovalAmount  ForgivenessAmount  ForgivnessPct
0   sum           7.896639e+11       7.571097e+11       0.958775